 #root {
  height: 100dvh;
 }
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
  }
  
  .login-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Input Fields */
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-group label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 8px;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .input-group input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Button */
  button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Additional Links */
  .additional-links {
    margin-top: 20px;
  }
  
  .forgot-password,
  .signup-link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot-password:hover,
  .signup-link:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 480px) {
    .login-box {
      padding: 20px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    .input-group input {
      padding: 10px;
    }
  
    button {
      padding: 10px;
    }
  }

.chkbox {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}  
.chkbox .check{
  margin: 0 1rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 5rem;
}  