.sidebar-item {
    display: flex;
    align-items: center;
    padding: .5rem .3rem ;
    margin-bottom: 10px;
    background: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .sidebar-item svg {
    margin-right: .5rem;
  }
  
  .sidebar-item span {
    display: inline-block;
    transition: opacity 0.3s ease;
  }
  
  .logout {
    margin-top: auto;
    color: #dc3545;
    padding: .3rem;
    margin: 0;
  }

  @media (max-width: 768px) {
    .sidebar {
      width: 3rem;
    }
  
    .logo {
      display: none;
      font-size: 18px;
      text-align: center;
    }
    .sidebar-item span {
      display: none; /* Hide text on smaller screens */
    }
  
    .main-content {
      margin-left: 3rem;
      width: calc(100% - 3.5rem);
    }
  }