/* ErrorBox.css */
.error-box {
    padding: .3rem;
    border-radius: 5px;
    position: relative;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.error {
    background-color: #ffdddd;
    border: 1px solid #f44336;
    color: #d32f2f;
}

.warning {
    background-color: #fff8e1;
    border: 1px solid #ff9800;
    color: #f57c00;
}

.info {
    background-color: #e3f2fd;
    border: 1px solid #2196f3;
    color: #1976d2;
}

.success {
    background-color: #e8f5e9;
    border: 1px solid #4caf50;
    color: #388e3c;
}

.close-btn {
    background: none;
    border: none;
    color: inherit;
    font-size: 28px;
    padding: 0;
    cursor: pointer;
}
