/* Greeting.css */

.greeting {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Center the text */
    padding: .4rem;
    font-size: clamp(.7rem 2vw 1.25rem);
    background-color: #f0f0f0; /* Adjust background as needed */
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add some shadow for depth */
    max-width: 300px; /* Ensure a max width for smaller screens */
    margin: 0 auto; /* Center the greeting */
  }
  
  .greeting span {
    font-weight: bold;
  }
  